<p>
  game-form works!
</p>
<!-- 
<h2>Hero Detail</h2>
<h3>
  <i>FormControl in a FormGroup</i>
</h3>
<form [formGroup]="gameForm">
  <div class="form-group">
    <label class="center-block">Game N°:
      <input class="form-control" formControlName="numgame">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Jugador:
      <input class="form-control" formControlName="jugador">
    </label>
  </div>
  <div formGroupName="Manos" class="well well-lg">
    <div class="form-group">
      <label class="center-block">Mano N°:
        <input class="form-control" formControlName="mano">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Jugada:
        <input class="form-control" formControlName="jugada">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Resultado:
        <input class="form-control" formControlName="resultado">
      </label>
    </div>
  </div>
</form> -->


<p>Form value: {{ gameTest.value | json }}</p>
<p>Form status: {{ gameTest.status | json }}</p>

<form [formGroup]="gameTest">
  <div formArrayName="Game" class="well well-lg">
    <div *ngFor="let game of Game.controls; let i=index" [formGroupName]="i">
      <label class="center-block">Name:
        <p>{{ gameTest.value.Game[i].Jugador}}</p>
      </label>
      <div formArrayName="Manos" class="well well-lg">
          <div *ngFor="let mano of game.controls.Manos.controls; let j=index" [formGroupName]="i">
              <label class="center-block">Numero de Juego:
                  <p>{{ gameTest.value.Game[i].Manos[j].NumMano}}</p>
                </label>
                <label class="center-block">Jugada:
                    <input class="form-control" formControlName="Jugada">
                  </label>
                  <label class="center-block">resultado:
                      <input class="form-control" formControlName="Resultado">
                    </label>
          </div>
      </div>

    </div>
  </div>
</form>


<!-- 
<p>Form value: {{ gameForm.value | json }}</p>
<p>Form status: {{ gameForm.status | json }}</p>

<form [formGroup]="gameForm">
    <div class="form-group">
        <label class="center-block">GAME:
          <input class="form-control" formControlName="numgame">
        </label>
      </div>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="jugador">
    </label>
  </div>
  <div formArrayName="Manos" class="well well-lg">
    <div *ngFor="let mano of Manos.controls; let i=index" [formGroupName]="i">
      <div class="form-group">
        <label class="center-block">Mano:
          <input class="form-control" formControlName="mano">
        </label>
        <label class="center-block">Jugada:
          <input class="form-control" formControlName="jugada">
        </label>
        <label class="center-block">Resultado:
          <input class="form-control" formControlName="resultado">
        </label>
      </div>
    </div>
  </div>
</form> -->





<!-- <div [hidden]="submitted">
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <label for="name">NumberGame</label>
  <input type="text" id="numgame" [(ngModel)]="model.numgame" name="numgame" #numgame="ngModel" required>
  

  <label for="name">Jugador</label>
  <input type="text" id="jugador" [(ngModel)]="model.jugador" name="jugador" required>
  
  <label for="name">Mano</label>
  <input type="text" id="mano" [(ngModel)]="model.mano" name="mano"required>
  
  <label for="name">jugada</label>
  <input type="text" id="jugada" [(ngModel)]="model.jugada" name="jugada"required>

  <label for="name">resultado</label>
  <input type="text" id="resultado" [(ngModel)]="model.resultado" name="resultado"required>

  <button (click)="newGame(); heroForm.reset()"> save</button>
  <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
</form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div> -->