<div class="container">
    <form class="form-inline">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#Mano</th>
                    <th scope="col">Vito</th>
                    <th scope="col">Perro</th>
                    <th scope="col">sadasad</th>
                    <th scope="col">dddddd</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                    <td scope="row" style="width: 33px;height: 41px;">{{item}}</td>
                    <td style="width: 33px;height: 41px;">
                        <input class="form-control inp"> -
                        <input class="form-control inp">
                    </td>
                    <td style="width: 33px;height: 41px;">
                        <input class="form-control inp"> -
                        <input class="form-control inp">
                    </td>
                    <td style="width: 33px;height: 41px;">
                        <input class="form-control inp"> -
                        <input class="form-control inp">
                    </td>
                    <td style="width: 33px;height: 41px;">
                        <input class="form-control inp"> -
                        <input class="form-control inp">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>

<!-- <div class="container">
    <app-game-form></app-game-form>
</div> -->